.red {
    background-color: brown;
}

#employeeOut {
    border: 1px solid black;
    margin-left: 10px;
}

#body {
    background-color: gold
}

.container {
    background-color: hotpink;
    margin: 5px;
    border: 3px solid black;
}

.h1 {
   text-align: center;
}

#inputDiv {
    text-align: center; 
    margin-bottom: 15px;
    
}

#costOutputDiv {
    border: 3px solid black;
    margin-left: 10px;
    margin-right: 10px;
}